.App {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.NavBox {
  display: flex;
  background-color: black;
}

.LinkToHome {
  font-family: "Noticia Text", serif;
  color: white;
  margin: 0 auto;
  
}

.Header {
  display: flex;
  position: relative;
  justify-content: center;
}

.HeaderImage {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  width: 90%;
  height: 300px;
  border-radius: 100px;
}

.BodyHeader {
  font-family: "Noticia Text", serif;
  position: relative;
  top: 360px;
}

.Body {
  display: grid;
  position: relative;
  top: 30px;
  padding-left: 20px;
  grid-template-columns: repeat(5, 1fr);
  height: 450px;
}

.Images {
  border: 3px solid black;
}

.SearchBar {
  position: relative;
  display: flex;
  justify-content: center;
  top: 350px;
  height: 40px;
}

.Search {
  width: 300px;
}

.FooterBox {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 2px solid white;
  background-color: black;
  text-align: end;
}
